<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href=".." class="navbar-brand">Rusnet Webdev Notes</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="#">...</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar_actions">
  <div class="container-fluid">
    <button class="btn btn-default fa fa-plus"   data-toggle="modal" data-target="#modal_form_add_item"   ></button>
    <button class="btn btn-default fa fa-remove" data-toggle="modal" data-target="#modal_form_remove_item"></button>
    <button class="btn btn-danger fa fa-eraser"  data-toggle="modal" r-command="clear_local_storage">clear local storage</button>
  </div>
</nav>
