<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ejs/head_part %>
    </head>
    <body>
        <% include ejs/modal_item_add %>
        <% include ejs/top_part %>
        <% include ejs/main_part %>
        <% include ejs/bottom_part %>
        <% include ejs/js_part %>
    </body>
</html>
