body {
  background-color: #ffffff;
  background-image: url("bg.png");
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  margin: 36px 0 21px 0;
  background-color: #ffffff;
}

h1 a {
  padding: 20px 0 0 20px;
}

.center {
  text-align: center;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: none;
}

.navbar {
  min-height: 0;
  margin-bottom: 0;
}

.block {
  display: inline-block;
}

.page-header {
  border-bottom: 1px solid #cccccc;
}

li[role=presentation] {
  min-width: 360px;
}

.space {
  padding: 100px 0 30px;
}

.search_field {
  width: 360px;
}

.bg_content {
  background-color: #f0f0f0;
  box-shadow: 0 0 15px #505050;
}

#notes_wrap p {
  padding: 5px 20px 10px;
  transition: all 0.3s ease 0s;
}

#notes_wrap p:hover {
  background-color: #ffffff;
  box-shadow: 0 0 3px #ffffff;
}

#notes_wrap h1 {
  box-shadow: 0 3px 10px -3px #505050;
}

#notes_wrap h3 {
  margin: 20px 20px 5px 20px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
